/*header settings for regular screens*/
.main-header {
  background-color: #cc9b06;
  /* background-image: url(); */
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  color: white;
  height: 500px;
  width: 100%;
}
/* profile avatar settings */
.avatar {
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* responsive header settings for wide screens*/
@media only screen and (min-width: 1024px) {
  .main-header {
    width: 45%;
    float: left;
    margin-left:2em;
    margin-top: 7em;
  }
}