nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4056A1;
  background-color: #cc9b06;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");

  height: 100px;
  width: 100%;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

.logo {
  font-family: Bungee, cursive;
  font-size: 2.5em;
  color: #FFFFFF;
}
@media only screen and (max-width: 1000px) {
.nav-write-new-tweet {
float: right;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
color: #FFFFFF;
}
.fas {
 float: right;
 color: red;
}
}




@media only screen and (min-width: 1000px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4056A1;
    color: #FFFFFF;
    height: 120px;
    width: 100%;
    padding: 0 1.5em;
    position: fixed;
    top: 0;
  }
  .nav-write-new-tweet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .fas {
    color: red;
  }
}