/* This targets the HTML section class that contains the form input  */
.class-new-tweet {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin-right: 3em;
}
/* targets the form element */
.class-new-tweet form {
  width: 100%;
}
/* text area element */
#tweet-text {
  display: flex;
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 3px solid #666;
  margin-bottom: 15px;
  resize: none;
  outline: none;
}
/* This targets the HTML section class that contains the old tweets being displayed  */
.tweets {
  width: 100%;
  margin-right: 3em;
}
/* article class rendering the old tweets */
.tweets-article:hover {
  box-shadow: 10px 5px 5px grey;
}
.tweets-article {
  width: 100%;
  display: flex;
  margin-top: 20px;
  border: 3px solid #666;
  margin-bottom: 3px;
  flex-direction: column;
  
}
.article-header {
  color: #666;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  display: flex;
}
.article-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}
article footer .days-counter {
  font-size: large;
  display: flex;
  align-items: left;
  justify-content: left;
}
/* tweets box footer element */
.tweeting-box-footer {
  display: flex;
  justify-content:space-between;
}
.tweeting-box-footer output {
  display: flex;
  font-family: Bungee, cursive;
}
.footer-icons {
  display: flex;
  align-items: right;
  justify-content: right;
}
.fa-solid {
  margin-left: 10px;
}

footer i:hover {
  color: red;
  cursor: pointer;
}
/* tweet buttton element */
.tweet-button {
  background-color: #4056A1;
  color: white;
  font-family: Bungee, cursive;
}
.tweet-button:hover {
  border-width: 5px;
  border-color: rgb(17, 0, 255);
}

/* old tweets avatars */
.profile-name-avatar {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
}
/* texts in the old tweets */
.tweets-middle {
  border-bottom: 3px solid #666;
  padding: 20px;
}



/* error messages elements */
#error-message-empty{
  color: red;
  text-align: center;
  margin: 0;
  display: block;
}
#error-message-toolong{
  color: red;
  text-align: center;
  margin: 0;
  display: block;
}