.new-tweet {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
}
.new-tweet form {
  width: 100%;
}
#tweet-text {
  display: flex;
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 3px solid #666;
  margin-bottom: 15px;
}
.tweetingBoxFooter {
  display: flex;
  justify-content:space-between;
}
.tweetButton {
  background-color: #4056A1;
  color: white;
  font-family: Bungee, cursive;
}
.tweetingBoxFooter output {
  display: flex;
  font-family: Bungee, cursive;
}

article {
  width: 100%;
  display: flex;
  margin-top: 45px;
  display: flex;
  width: 100%;
  height: 200px;
  border: 3px solid #666;
  margin-bottom: 3px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
article header {
  color: #666;
  background-color: #f4f1ec;
  background-image: none;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: large;
}
.tweetsMiddle {
  width: 95%;
  display: flex;
  justify-content: left;
  align-items: left;
  border-bottom: 3px solid #666;
  padding-bottom: 25px;
  margin-bottom: 15px;
  font-size: larger;

}
article footer {
  width:100%;
  display: flex;
  justify-content: space-around;

}
article footer .daysCounter {
  font-size: large;
  display: flex;
  align-items: left;
  justify-content: left;
}

article footer i {
  display: flex;
  align-items: right;
  justify-content: right;
}

article footer i:hover {
  color: red;
}