.new-tweet {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
}
.new-tweet form {
  width: 100%;
}
#tweet-text {
  display: flex;
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 3px solid #666;
  margin-bottom: 15px;
  resize: none;
  outline: none;
}

.tweetsArticle:hover {
  box-shadow: 10px 5px 5px grey;;

}
.tweetingBoxFooter {
  display: flex;
  justify-content:space-between;
}
.tweetButton {
  background-color: #4056A1;
  color: white;
  font-family: Bungee, cursive;
}
.tweetingBoxFooter output {
  display: flex;
  font-family: Bungee, cursive;
}

.tweetsArticle {
  width: 100%;
  display: flex;
  margin-top: 20px;
  border: 3px solid #666;
  margin-bottom: 3px;
  flex-direction: column;
}
.article-header {
  color: #666;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  display: flex;
}
.profile-name-avatar {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
}
.tweetsMiddle {
  border-bottom: 3px solid #666;
  padding: 20px;
}
.article-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}
article footer .daysCounter {
  font-size: large;
  display: flex;
  align-items: left;
  justify-content: left;
}

.footerIcons {
  display: flex;
  align-items: right;
  justify-content: right;
}
.fa-solid {
  margin-left: 10px;
}

footer i:hover {
  color: red;
  cursor: pointer;
}